<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${recipe.name}"></title>
</head>

<body>
    <div>
        <a th:href="@{/}">
            <img src="/images/logo.png" width="20%">
        </a>
    </div>
    <div>
        <h2 th:text="${recipe.name}"></h2>
        <p th:text="${recipe.description}"></p>
        <div th:if="${recipe.pictureRecipe != null && !recipe.pictureRecipe.isEmpty()}">
            <div th:each="picure : ${recipe.pictureRecipe}">
                <img th:src="${picture}">
            </div>
        </div>
        <div th:unless="${recipe.pictureRecipe != null && !recipe.pictureRecipe.isEmpty()}">
            Non ci sono immagini della ricetta
        </div>
    </div>
    <div class="ingredients">
        <div th:if="${ingredients!=null && !ingredients.isEmpty()}">
            <ul>
                <div th:each="ingredient : ${ingredients}">
                    <li>
                        <a th:href="@{'/recipesWithIngredient/' + ${ingredient.idIngredient}}">
                            <span th:text="${ingredient.name} + ' ' + ${ingredient.quantity}"></span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div th:unless="${ingredients!=null && !ingredients.isEmpty()}">
            Non ci sono ingredienti nella ricetta
        </div>
    </div>
</body>

</html>