<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
</head>

<body>
	<div>	
	    <a th:href="@{/}">
	        <img src="/images/logo.png" width="20%">
	    </a>
	</div>
    <div th:if="${recipes != null && !recipes.isEmpty()}">
        <div th:if="${ingredientSearched != null}">
            <span th:text="'Ricette con ' + ${ingredientSearched}">
        </div>
        <div th:unless="${ingredientSearched != null}">
            Ricette:
        </div>
        <ul>
            <div th:each="recipe: ${recipes}">
                <li>
                    <a th:href="@{'/recipeDetails/' + ${recipe.idRicetta} }"><span th:text="${recipe.nome}"></span></a>
                </li>
            </div>
        </ul>
    </div>
    <div th:unless="${recipes != null && !recipes.isEmpty()}">
        <span>Non ci sono ricette nel sistema</span>
    </div>
</body>

</html>