body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Aggiunta di un colore di sfondo leggero */
    color: #333;
    padding-top: 150px; /* Altezza della navbar */
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.error{
    color: red;
    text-align: center;
}

section{

    padding-bottom: 10px;
}

/* Navbar */
.image-logo {
    border-radius: 50%;
    box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.image-logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: white;
}

.user-info{

    color: white;
    display: grid;
}

.user-info a{
    align-items: center;
    text-decoration: none;
    color: white;
}


footer{    
    margin-top: auto;
    padding-top: 20px;
    background-color: #212529;
    color: white;
}

.upper-row{

    border-bottom: 2px solid white;
}

.footer-nav{

    list-style: none;
}

.item-footer-nav{

    padding: 5px;
}

.item-footer-nav a{

    text-decoration: none;
    color: white;
}

.img-footer{

    width: 10%;
}