.container{

    padding-top: 10px;
}

.cook-details{

    text-align: center;
}

.image-cook img {
    max-width: 300px; /* Imposta la larghezza massima desiderata */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza */
    display: block; /* Per centrare correttamente l'immagine */
    margin: 0 auto; /* Centra l'immagine all'interno del suo contenitore */
}

.recipes h3 {
    font-size: 2em;
    margin-top: 20px;
    color: #2c3e50;
}

.recipes-ul ul {
    list-style-type: none;
    padding: 0;
}

.recipes-ul li {
    font-size: 1.2em;
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px; /* Aggiunta di bordi arrotondati */
}

.recipes-ul li a{

    color: #343a40;
}