body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Aggiunta di un colore di sfondo leggero */
    color: #333;
    padding-top: 150px; /* Altezza della navbar */
}

/* Navbar */
.image-logo {
    border-radius: 50%;
    box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.image-logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: white;
}

.user-info{

    color: white;
    display: grid;
}

.user-info a{
    align-items: center;
    text-decoration: none;
    color: white;
}

/* Recipe Details */
.name-recipe-cook-details h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

.name-recipe-cook-details {
    text-align: center;
    border-bottom: 2px solid #343a40; /* Cambiato il colore del bordo */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.description-recipe p {
    font-size: 1.2em;
    color: #555;
}

.carousel-image-recipe img {
    max-height: 500px; /* Limitata l'altezza massima delle immagini del carousel */
    object-fit: cover; /* Migliorata la gestione delle immagini */
}

.ingredients h3 {
    font-size: 2em;
    margin-top: 20px;
    color: #2c3e50;
}

.ingredients-ul ul {
    list-style-type: none;
    padding: 0;
}

.ingredients-ul li {
    font-size: 1.2em;
    background: #e9ecef;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px; /* Aggiunta di bordi arrotondati */
}

.ingredients-ul li a{

    text-decoration: none;
    color: #343a40;
}

/* Footer */
.footer-container {
	background-color: #343a40;
	color: white;
	padding: 20px;
}

.footer-container a{
    text-decoration: none;
    color: white;
}

.upper-footer,
.lower-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.upper-footer {
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}

.upper-left,
.upper-right {
	display: flex;
	align-items: center;
}

.upper-right .footer-links {
	list-style: none;
	padding: 0;
}

.upper-right .footer-links li {
	display: inline-block;
	margin-right: 20px;
}

.site-name {
	margin-left: 10px;
	font-size: 18px;
}

.lower-footer {
	margin-top: 20px;
	font-size: 14px;
}

.social-links img {
	width: 30px;
	margin-right: 10px;
}