.main-container {
    min-height: calc(100vh - 80px); /* Adjust based on your header and footer heights */
    padding-top: 60px; /* Give some padding at the top */
    padding-bottom: 60px; /* Give some padding at the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
}

.registration-container {
    height: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.registration-container div {
    margin-bottom: 1.5rem;
}

.registration-title h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.registration-username input,
.registration-password input,
.registration-name input,
.registration-surname input,
.registration-dob input,
.registration-photo input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.registration-container input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.button {
    text-align: center;
}

.btn-custom {
    color: white;
    background-color: #212529;
}

.btn-custom:hover {
    color: white;
    background-color: #818c98;
}

.login-link, .login-link a {
    text-decoration: none;
    text-align: center;
}
