.form-container{

    margin-top: 40px;
    background-color: #dfe0e1;
    border: 2px transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
}

.login-link, .login-link a {
    text-decoration: none;
    text-align: center;
}
