<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Cuoco</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Registrazione Cuoco</h1>
    <form th:action="@{/register}" th:object="${cook}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="${cook.credentials.username}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="${cook.credentials.password}" required>
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="name" name="name" th:field="${cook.name}" required>
        </div>
        <div>
            <label for="cognome">Cognome:</label>
            <input type="text" id="surname" name="surname" th:field="${cook.surname}" required>
        </div>
        <div>
            <label for="dataNascita">Data di nascita:</label>
            <input type="date" id="dateBirth" name="dateBirth" th:field="${cook.dateBirth}" required>
        </div>
        <div>
            <button type="submit">Registrati</button>
        </div>
    </form>
</body>
</html>
